fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.6.4
requests==2.31.0
matplotlib==3.8.3
numpy==1.26.4
scipy==1.12.0
python-dotenv==1.0.1
yfinance==0.2.37
bs4==0.0.2
beautifulsoup4==4.12.3
jugaad-data==0.27
opstrat==0.1.7
google-generativeai==0.8.4
mibian==0.1.3
